body {
    font-family: 'Roboto', sans-serif;
}

.champ-icon {
    width: 50px;
    margin: 2px;
}

.graph {
    position: relative;
    height: 500px;
}

.speed-row {
    display: flex;
    align-items: center;
    margin: 10px;
    
}

.speed-label {
    margin-right: 15px;
}