body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 0 0 0 10px;
    clear: both;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.champ-icon {
    width: 50px;
    margin: 2px;
}

.graph {
    flex-shrink: 2;
}

.speed-row {
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

.speed-label {
    margin-right: 15px;
}

.sidebar {
    width: 420px;
    background: linear-gradient(180deg, silver, white);
    padding: 10px;
    margin: 0.5em;
}
.sidebar p:first-of-type {
    margin-top: 0;
}
.sidebar p:last-of-type {
    margin-bottom: 0;
}
.boots {
    width: 50px;
}
.img-left {
    float: left;
    margin-right: 1em;
}